spring:
  application:
    name: ticket-service

  datasource:
    url: jdbc:postgresql://localhost:5432/servicedesk
    username: servicedesk
    password: servicedesk
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080
